.banner {
    .container {
        background: #d3d3d36e url('../styles/images/dreams-background-img.png') center/cover no-repeat;
        height: min-content;
    }
    text-align: center;
    color: white;
    &-title {
        font-size: 1.8rem;
        margin: 5% auto;
        padding: 0px 20%;
    }
    &-splitter {
        width: 10%;
        margin: 0 auto;
    }
    &-description {
        margin: 5% auto;
        font-size: 1.5rem;
        padding: 0px 30%;
    }
}