.banner {
    .container {
        .banner-title {
            font-size: 48px;
            color: white;
            margin: 5% auto;
            width: 70%;
            text-align: center;
        }
        .banner-splitter {
            width: 10%;
            margin: 0 auto;
        }
        .banner-description {
            margin: 5% auto;
            width: 60%;
            text-align: center;
            font-size: 40px;
            color: white;
        }
    }
}