.footer {
    background: #1c1c1c;
    color: white;
    &-main-container {
        display: flex;
        padding-top: 50px;
        flex-direction: column;
        .footer-container {
            display: flex;
            flex-wrap: wrap;
            .footer-left-panel {
                padding-right: 80px;
                .footer-description {
                    width: 450px;
                    @media (max-width: $tab) {
                        width: auto;
                        padding: 0px 20px;
                        text-align: center;
                    }
                }
                .footer-title {
                    text-align: left;
                    font-size: 1.3rem;
                    @media (max-width: $tab) {
                        text-align: center;
                    }
                }
                .footer-contacts-container {
                    flex-direction: column;
                    display: flex;
                    flex-wrap: wrap;
                    height: 170px;
                    .contact-item {
                        display: table;
                        margin-top: 20px;
                        .contract-item-content,
                        .contact-item-img-container {
                            vertical-align: middle;
                            display: table-cell;
                        }
                        .contract-item-content {
                            padding-left: 5px;
                        }
                        @media (max-width:$tab) {
                            margin-right: 20px;
                        }
                    }
                    @media (max-width:$tab) {
                        margin: 0px 140px;
                    }
                    @media (max-width:700px) {
                        height: auto;
                        margin: auto;
                        width: fit-content;
                    }
                }
                @media (max-width:$tab) {
                    padding-right: 0px;
                    margin: auto;
                }
            }
            .footer-right-panel {
                .submit-form-container {
                    display: flex;
                    flex-direction: column;
                    input,
                    textarea {
                        width: 460px;
                        margin-top: 20px;
                        min-height: 45px;
                        padding: 10px;
                        color: black;
                        @media (max-width: $min-mobile) {
                            width: 250px;
                        }
                    }
                    a {
                        margin-top: 20px;
                    }
                }
                @media (max-width:$tab) {
                    margin: auto;
                }
            }
        }
    }
    .footer-foter-description {
        padding-top: 40px;
        &:before {
            content: '';
            height: 1px;
            background: white;
            width: 100%;
            position: absolute;
        }
        p {
            text-align: center;
            padding-top: 20px;
        }
    }
}