.footer {
    background: #1c1c1c;
    color: white;
    &-main-container {
        display: flex;
        padding-top: 50px;
        flex-direction: column;
        .footer-container {
            display: flex;
            flex-wrap: wrap;
            .footer-left-panel {
                padding-right: 50px; //display: table-cell;
                .footer-description {
                    width: 450px;
                    @media (max-width: 1000px) {
                        width: auto;
                        padding: 0px 20px;
                        text-align: center;
                    }
                }
                .footer-title {
                    text-align: left;
                    @media (max-width: 1000px) {
                        text-align: center;
                    }
                }
                .footer-contacts-container {
                    flex-direction: column;
                    display: flex;
                    flex-wrap: wrap;
                    height: 170px;
                    .contact-item {
                        display: table;
                        margin-top: 20px;
                        .contract-item-content,
                        .contact-item-img-container {
                            vertical-align: middle;
                            display: table-cell;
                        }
                        .contract-item-content {
                            padding-left: 5px;
                        }
                        @media (max-width:1000px) {
                            margin-right: 20px;
                        }
                    }
                    @media (max-width:1000px) {
                        margin: 0px 140px;
                    }
                    @media (max-width:700px) {
                        height: auto;
                        margin: auto;
                        width: fit-content;
                    }
                }
                @media (max-width:1000px) {
                    padding-right: 0px;
                    margin: auto;
                }
            }
            .footer-right-panel {
                .submit-form-container {
                    display: flex;
                    flex-direction: column;
                    input,
                    textarea {
                        width: 400px;
                        margin-top: 20px;
                        min-height: 40px;
                        padding: 5px;
                        color: black;
                    }
                    a {
                        margin-top: 20px;
                    }
                    @media (max-width:450px) {
                        input,
                        textarea {
                            width: 250px;
                        }
                    }
                }
                @media (max-width:1000px) {
                    margin: auto;
                }
            }
        }
    }
    .footer-foter-description {
        text-align: center;
        padding-top: 40px;
    }
}