.header {
    .container {
        background: #d3d3d36e url('../styles/images/dreams-background-img.png') center/cover no-repeat;
        height: 100vh;
    }
    text-align: center;
    color: white;
    &-text {
        margin: 40vh auto 0px auto;
        .header-title {
            padding: 15px 30%;
            font-size: 1.5rem;
        }
        .header-description {
            font-size: 1.4rem;
            padding: 20px 30%;
        }
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px 0px 30px;
        @media (max-width: $min-mobile) {
            margin: 0px 5px;
        }
    }
}