.portfolio {
    &-main-container {
        display: flex;
        flex-direction: column;
        //padding-top: 50px;
        .portfolio-description-container {
            display: flex;
            margin-left: 70px;
            .portfolio-desc-left-panel {
                .portfolio-description-additional {
                    margin-top: 40px;
                }
                .portfolio-description-items-container {}
            }
            .portfolio-desc-right-panel {}
        }
        .portfolio-gallery-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 465px;
                height: 350px;
            }
        }
    }
}