.team {
    .team-items-container {
        display: flex;
        margin: auto;
        padding: 50px 0px 50px 0px;
        .team-item {
            display: inline-block;
            margin: auto;
            .team-item-img-container {
                img {
                    height: 300px;
                    width: 300px;
                }
            }
            .team-item-container {
                text-align: center;
                .team-item-name {
                    font-weight: bold;
                    padding: 10px 5px 10px 5px;
                }
            }
            .team-item-social {
                margin: auto;
                width: 160px;
                img {
                    padding: 5px;
                }
            }
        }
    }
    .team-footer {
        text-align: center;
    }
}