.team {
    .container {
        background: #d3d3d36e;
    }
    &-items-container {
        display: flex;
        margin: auto;
        padding: 50px 0px 50px 0px;
        flex-wrap: wrap;
        .team-item {
            display: inline-block;
            margin: auto;
            .team-item-img-container {
                img {
                    height: 300px;
                    width: 300px;
                }
            }
            .team-item-container {
                text-align: center;
                .team-item-name {
                    font-weight: bold;
                    padding: 10px 5px 10px 5px;
                }
            }
            .team-item-social {
                display: flex;
                justify-content: center;
                img {
                    padding: 5px;
                }
            }
        }
    }
    &-footer {
        text-align: center;
    }
}