include ../constants/constants
mixin coreItem(imgName, title)
  .item-container
    .img-container
      img.coreImage(src=require('./styles/images/'+imgName), alt=title)
    h3.title-sub.title-sub-bold=title
    .core-item-description=DUMMY_DESCRIPTION