include ../constants/constants
mixin coreItem(imgUrl, title)
  .item-container
    .img-container
      img.coreImage(src=imgUrl, alt=title)
    .title-sub.title-sub-bold=title
    .core-item-description
      +dummyDescription()