include ../constants/constants
mixin descriptionItem(imgName, title)
  .expertice-item
    .img-container
      i(class=imgName)      
    .text-container
      h3.title.title-sub=title
      .expertice-description=DUMMY_DESCRIPTION



