include ../constants/constants
mixin descriptionItem(imgUrl, title)
  .expertice-item
    .img-container
      img.experticeImage(src=imgUrl, alt=title)
    .text-container
      .title.title-sub=title
      .expertice-description=DUMMY_DESCRIPTION



