mixin teamItem(imgUrl, name, profession)  
  .team-item
    .team-item-img-container
      img.team-profile-img(src=imgUrl, alt=title)    
    .team-item-container
      .team-item-name=name
      .team-item-profesion=profession
    .team-item-social
      img.team-social-tv(src='sources/styles/images/team-f.png')
      img.team-social-g(src='sources/styles/images/team-g.png')
      img.team-social-p(src='sources/styles/images/team-p.png')
      
         
      
    