body {
  margin: 0px;
  padding: 0px;
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
  background: white url('../styles/images/DreamsFirstSectionBackgroundImg.png') no-repeat 50% 0%;
}
  
  html {
    box-sizing: border-box;
    background: white;
  
    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  ul,
  ol {
    list-style-type: none;
  }