.title {
    &-main {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.6rem;
    }
    &-sub {
        text-transform: uppercase;
        font-size: 1rem;
        &-bold {
            font-weight: bold;
        }
    }
    &-with-bottom-line {
        text-align: center;
        &:after {
            content: '';
            height: 1px;
            bottom: 0px;
            background: $buttonLineColor;
            width: 7rem;
            display: inline-block;
            text-align: center;
        }
    }
}