.container {
    max-width: 1400px;
    margin: auto;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    &-with-bottom-line {
        position: relative;
        display: flex;
        justify-content: center;
        &:after {
            content: '';
            bottom: 5px;
            height: 2px;
            background: cyan;
            width: 10%;
            position: absolute;
        }
    }
}

section {
    .container {
        padding-bottom: 10px;
        padding-top: 50px;
    }
}

p {
    padding: 0px;
    margin: 0px;
}