.container {
    max-width: 1400px;
    margin: auto;
    @media (max-width: $tab) {
        width: 100%;
    }
}

.title {
    &-main {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.6rem;
    }
    &-sub {
        text-transform: uppercase;
        font-size: 1rem;
        &-bold {
            font-weight: bold;
        }
    }
    &-with-bottom-line {
        position: relative;
        display: flex;
        justify-content: center;
        &:after {
            content: '';
            height: 1px;
            bottom: 0px;
            background: $buttonLineColor;
            width: 8%;
            position: absolute;
        }
    }
}

section {
    .container {
        padding-bottom: 10px;
        padding-top: 50px;
    }
}

p,
h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 25px;
}