.about-item {
    padding-top: 50px;
    width: 800px;
    margin: auto;
    .about-item-title {
        margin-top: 5px;
    }
    .about-item-container {
        width: 300px;
        margin-top: 15px;
        display: inline-block;
        &.right {
            float: right;
            text-align: left
        }
        &.left {
            float: left;
            text-align: right;
        }
    }
    .about-item-img-container {
        width: 200px;
        display: inline-block;
        &.right {
            margin-left: 300px;
        }
    }
}