.about-item {
    padding-top: 50px;
    width: 800px;
    margin: auto;
    &-title {
        margin-top: 5px;
    }
    &-container {
        width: 300px;
        margin-top: 15px;
        display: inline-block;
    }
    &-img-container {
        width: 200px;
        display: inline-block;
        @media (max-width: $almostIphoneX) {
            width: auto;
        }
    }
    @media (max-width:$almostIphoneX) {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
        text-align: center;
    }
}