.expertice-item {
    display: flex;
    margin-top: 30px;
    .text-container {
        .expertice-description {
            padding-top: 5px;
        }
    }
    .img-container {
        padding-right: 10px;
    }
}