block data
  -
    //-collections
    var MENU_COLLECTION = ['home', 'services', 'portfolio', 'about', 'team', 'contact']
    var CORE_COLLECTION=require("./data/core.json");  
    var EXPERTICE_COLLECTION = require("./data/expertice.json");   
    var TEAM_COLLECTION = require("./data/team.json");    
    var ABOUT_COLLECTION = require("./data/about.json");     
    var CONTRACTS_COLLECTION = require("./data/contract.json");   
    var PORTFOLIO_COLLECTION = require("./data/portfolio.json");   

    //-titles
    var TEAM_TITLE="awesome team"
    var ABOUT_TITLE='About us'
    var FOOTER_TITLE='contact us'
    var HEADER_TITLE='Build the website of your dreams'
    var PORTFOLIO_TITLE='amazing portfolio'
    var SERVICES_TITLE='Core Services'
    var EXPERTICE_TITLE='Other expertise'
    var MORE_BUTTON_TITLE='our story continues ...'
    var SEND_MESSAGE_BUTTON_TITLE='send message';
    var FOOTER_DESCRIPTION="Don't be shy, drop us an email and say hello! We are a really nice bunch of peaple :)"
    var FOOTER_FORM_NAME_INPUT_PLACEHOLDER="Your Name*"
    var FOOTER_FORM_EMAIL_INPUT_PLACEHOLDER="Your E-mail*"
    var FOOTER_FORM_MESSAGE_INPUT_PLACEHOLDER="Your Message*"
    var FOOTER_COPY_TEXT="2014 Dreams By FreebiesXpress"
    var HEADER_DESCRIPTION="We are a digital agency that believes in building things that are meaningful!"
    var SERVICE_MORE_BUTTON="learn more"

    //-consts
    var TITLE="Dreams Landing";
    var DUMMY_DESCRIPTION='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble'
    var GALLERY_INDEX = 1;
    var GALLERY_LENGTH = 6; 

    
      
    