block data
  -
    //-collections
    var MENU_COLLECTION = ['home', 'services', 'portfolio', 'about', 'team', 'contact']
    var CORE_COLLECTION=
    [
     {
      url:'sources/styles/images/DreamsSection1Logo1.png',
      label:'beautiful designs',      
    },
     {
      url:'sources/styles/images/DreamsSection1Logo2.png',
      label:'web development',      
    },
     {
      url:'sources/styles/images/DreamsSection1Logo3.png',
      label:'2/7 support',      
    },
    ]
    var EXPERTICE_COLLECTION = 
    [
      {
        url: 'sources/styles/images/settings.png',
        label: 'Custom setup',
      },
      {
        url: 'sources/styles/images/star.png',
        label: 'All stur support team',
      },
      {
        url: 'sources/styles/images/cloud.png',
        label: 'Cloud control',
      },
      {
        url: 'sources/styles/images/lock.png',
        label: 'Top notch security',
      }
    ]
    var TEAM_COLLECTION = 
    [
       {
         url:'sources/styles/images/team-1.png', 
         name:'Jimmy Letterman',
         profession:'Marketer',
         socials:
         [
           {
             name:'twiter',
             url:'sources/styles/images/team-tv.png',
           },
           {
             name:'facebook',
             url:'sources/styles/images/team-f.png',
           },
           {
             name:'pinterest',
             url:'sources/styles/images/team-p.png',
           },
          ]
        },
        {
         url:'sources/styles/images/team-2.png', 
         name:'Rico Massimo',
         profession:'Coder',
         socials:
         [
           {
             name:'twiter',
             url:'sources/styles/images/team-tv.png',
           },
           {
             name:'facebook',
             url:'sources/styles/images/team-f.png',
           },
           {
             name:'pinterest',
             url:'sources/styles/images/team-g.png',
           },
          ]
        },
        {
         url:'sources/styles/images/team-3.png', 
         name:'Lisa Mason',
         profession:'Graphic Designer',
         socials:
         [           
           {
             name:'facebook',
             url:'sources/styles/images/team-f.png',
           },
           {
             name:'pinterest',
             url:'sources/styles/images/team-p.png',
           },
          ]
        },       
     ]   
    var ABOUT_COLLECTION = 
    [
      {
        date:'july 2010',
        title:'our humble beginnings',
        url:'sources/styles/images/about-1.png',
        class:'left',
      },
     {
        date:'january 2011',
        title:'facing sturtup battles',
        url:'sources/styles/images/about-3.png',
        class:'right',
      },
     {
        date:'december 2012',
        title:'enter the dark days',
        url:'sources/styles/images/about-3.png',
        class:'left',
      },
      {
        date:'february 2014',
        title:'our triumph',
        url:'sources/styles/images/about-4.png',
        class:'right',
      },
    ]   
    var CONTRACTS_COLLECTION = 
    [
      {
        title:'(416) 555-0000',
        url:'sources/styles/images/contr-ph.png',       
      },
     {
        title:'@dreams',
        url:'sources/styles/images/contr-t.png',
      },
     {
        title:'plus.com/dreams',
        url:'sources/styles/images/contr-g.png',
      },
      {
        title:'hello@dreams.com',
        url:'sources/styles/images/contr-e.png',
      },
      {
        title:'facebook.com/dreams',
        url:'sources/styles/images/contr-f.png',       
      },
      {
        title:'pinterest.com/dreams',
        url:'sources/styles/images/contr-p.png',       
      },
    ]      
    var PORTFOLIO_COLLECTION = 
    [
      {
        url:'sources/styles/images/settings.png', 
        title:'sail away your worries',         
      },
      {
        url:'sources/styles/images/star.png',
        title:'all-star sdupport team',      
      },
      {
        url:'sources/styles/images/pie.png',
        title:'fully integrated service',      
      }
    ]

    //-titles
    var TEAM_TITLE="awesome team"
    var ABOUT_TITLE='About us'
    var FOOTER_TITLE='contact us'
    var HEADER_TITLE='Build the website of your dreams'
    var PORTFOLIO_TITLE='amazing portfolio'
    var SERVICES_TITLE='Core Services'
    var EXPERTICE_TITLE='Other expertise'
    var MORE_BUTTON_TITLE='our story continues ...'
    var SEND_MESSAGE_BUTTON_TITLE='send message';
    var FOOTER_DESCRIPTION="Don't be shy, drop us an email and say hello! We are a really nice bunch of peaple :)"
    var FOOTER_FORM_NAME_INPUT_PLACEHOLDER="Your Name*"
    var FOOTER_FORM_EMAIL_INPUT_PLACEHOLDER="Your E-mail*"
    var FOOTER_FORM_MESSAGE_INPUT_PLACEHOLDER="Your Message*"
    var FOOTER_COPY_TEXT="2014 Dreams By FreebiesXpress"
    var HEADER_DESCRIPTION="We are a digital agency that believes in building things that are meaningful!"
    var SERVICE_MORE_BUTTON="learn more"

    //-consts
    var DUMMY_DESCRIPTION='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble'
    var GALLERY_INDEX = 1;
    var GALLERY_LENGTH = 6;
      
    