include ../constants/constants
include ../mixins/aboutItem
include ../mixins/aboutMoreButton
section.about(id="about")
  .container
    .title-main.title-with-bottom-line
      h1 #{ABOUT_TITLE}   
    .about-items-container
      each item in ABOUT_COLLECTION
        +aboutItem(item.date, item.title, item.url)      
      +moreButton(MORE_BUTTON_TITLE)