include ../constants/constants
include ../mixins/aboutItem
include ../mixins/aboutMoreButton
section.about(id="about")
  h2.title-main.title-with-bottom-line #{ABOUT_TITLE}   
  .div(id='about-items-container').about-items-container
    each item in ABOUT_COLLECTION.data      
      +aboutItem(item.date, item.title, item.imgName)      
  +moreButton(MORE_BUTTON_TITLE)