include ../mixins/line
header.banner  
  .container
    include /header
    .banner-title.title
      h1 Build the website of your dreams
    .banner-splitter
      +line()
    .banner-description
      h4 We are a digital agency that believes in building things that are meaningful!