section.banner
  .container
    .banner-title.title
      h1 Build the website of your dreams
    .banner-splitter
      <hr size="2" color="cyan">
    .banner-description
      h4 We are a digital agency that believes in building things that are meaningful!