include ../constants/constants
include ../mixins/descriptionItem
include ../mixins/elipsedButton
section.expertice(id="expertice")  
  .expertice-container
      .expertice-left-container
        .title-main
          h2 #{EXPERTICE_TITLE}
        .sub-description=DUMMY_DESCRIPTION
        .expertice-item-container
          each item in EXPERTICE_COLLECTION 
            +descriptionItem(item.url, item.label)          
        .expertice-footer
          +elipsedButton(SERVICE_MORE_BUTTON)        
      .expertice-right-container
        .image-container
          img(src=require("./styles/images/expertice-main-image.png"), alt='expertice-main-image')