include ../constants/constants
div(id='menuButton').menuIcon 
  .menuIconItem
  .menuIconItem
  .menuIconItem
nav(id='nav').isHidden  
  each item in MENU_COLLECTION
    a.nav__link.title-sub(href='#'+item, data-link=item)=item
