include ../mixins/coreItem
include ../mixins/line
include ../mixins/experticeItem
include ../mixins/elipsedButton
section.services
  .container
    .title-main.title-with-bottom-line
      h1 Core Services   
    .core-container      
      .core-items-container
        +coreItem('sources/styles/images/DreamsSection1Logo1.png', 'beautiful designs')
        +coreItem('sources/styles/images/DreamsSection1Logo2.png', 'web development')
        +coreItem('sources/styles/images/DreamsSection1Logo3.png', '2/7 support')     
    .expertice-container
      .expertice-left-container
        .title-main
          h1 Other expertise
        .sub-description
          +dummyDescription()
        .expertice-item-container
          +experticeItem('sources/styles/images/settings.png', 'Custom setup')
          +experticeItem('sources/styles/images/star.png', 'All stur support team')
          +experticeItem('sources/styles/images/cloud.png', 'Cloud control')
          +experticeItem('sources/styles/images/lock.png', 'Top notch security')
        .expertice-footer
          +elipsedButton('learn more')        
      .expertice-right-container
        .image-container
          img.mainExperticeImage(src='sources/styles/images/experticeMainImage.png', alt='main-expertice-img')
     
      
      