include ../constants/constants
include ../mixins/coreItem
section.services(id="services")  
  h2.title-main.title-with-bottom-line #{SERVICES_TITLE}
  .core-items-container
    each item in CORE_COLLECTION 
      +coreItem(item.imgName, item.label)           
   
     
      
      