include ../constants/constants
include ../mixins/teamItem
section.team
  .container
    .title-main.title-with-bottom-line
      h1 #{TEAM_TITLE}    
    .team-items-container
      each item in TEAM_COLLECTION 
        +teamItem(item)     
    .team-footer=DUMMY_DESCRIPTION
