include ../constants/constants
include ../mixins/teamItem
section.team(id="team") 
  h2.title-main.title-with-bottom-line #{TEAM_TITLE}    
  .team-items-container
    each item in TEAM_COLLECTION 
      +teamItem(item)     
  .team-footer=DUMMY_DESCRIPTION
