@import "global/variables";
@import "global/base";
@import "global/common";
@import "/menu";


.team {

    .team-items-container{

        //width: 80%;
    display: flex;
    margin: auto;
    padding: 50px 0px 50px 0px;


    .team-item{

        display: inline-block;
        margin: auto;

        .team-item-img-container{
            img{
            height: 300px;
            width: 300px;
            
            }

            
        }

        .team-item-container{
            text-align: center;

            .team-item-name{
                font-weight: bold;
                padding: 10px 5px 10px 5px;
            }

        }

       

        .team-item-social{
            margin: auto;
            width: 160px;

            img{                
                padding: 5px;
            }

        }

        
    }
}

.team-footer{

    text-align: center;

}

}



.about{
    .about-items-container{
        margin: 10px 10px 10px 10px;         
        .circle-more-button {
            margin: 50px auto;            
        }
    }
}

.about-item {
    padding-top:50px;    
    width: 800px;  
    margin: auto;  

    .about-item-title{
        margin-top: 5px;
    }   

    .about-item-container{  
        width: 300px;
        margin-top: 15px;
        display: inline-block;

        &.right{
            float: right;
            text-align: left
        }

            &.left{ 
                float: left;
                text-align: right;
            } 
    }    

    .about-item-img-container{         
        width: 200px;        
        display: inline-block;
        &.right { 
            margin-left: 300px;
        }  
    } 
}





.circle-more-button{
    background-color: cyan;
    height: 180px;
    width: 180px;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;    
    align-items: center; 
    color: white;
    padding: 35px 20px;       
}



.logo{

    @media (max-width: 1080px) {
        margin-left: 15px;
      }
    
      @media (max-width: 1000px) {
        margin-left: 0;
        margin-bottom: 15px;
      }
       
    .logoImage{
        text-align:center;
    }
}

.banner {      
    .container {
        .banner-title{
            font-size: 48px;
            color: black;
            margin: 5% auto;
            width: 70%;
            text-align: center;
        }
        .banner-splitter{
            width: 10%;
            margin: 0 auto; 
        }
        .banner-description{
            margin: 5% auto;
            width: 60%;
            text-align: center;
            font-size: 40px;
        }                 
    }   
}

.services{
    height: 450px;
    .services-title {
        text-align: center;        
        
    }   
    .core-items-container{
        display: flex;
    }
    .item-container{
        margin: 20px;
        .coreImage{
            margin: auto;
            display: block;
            padding: 10px;
            height: 100px;
            width: 100px;
        }
        .core-item-title{
            text-align: center; 
        }
        .core-item-description{
            text-align: center; 
        }
    }
}

.expertices-container{

    display: flex;

    background: lightgray;
    .left-container{
        padding-left: 40px;
        padding-right: 40px;

        .sub-description {
        }
        .expertice-item-container{
            width: 900px;
           
            .expertice-item{ 
                display: inline-block;
                width: 400px;
                padding: 15px;
            }
        }
    }
    
}

.headerContainer{
    .container{
    display: flex;
    justify-content: space-between;  
    align-content: center;
    flex-wrap: wrap; 
    padding-right: 20px;
    padding-left: 20px;
    }
}
