.menuContainer{   
    .nav{      
        padding-top: 15px;
        padding-right: 20px;        
        .nav__link{
            padding: 10px;            
            text-decoration:none;
            color: black;  //todo          
        }
    }
}